@font-face {
    font-family: 'BPG Algeti Nino Elite Exp Caps';
    src: url('../fonts/bpg-algeti-nino-elite-exp-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-algeti-nino-elite-exp-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-algeti-nino-elite-exp-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-algeti-nino-elite-exp-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-algeti-nino-elite-exp-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-algeti-nino-elite-exp-caps-webfont.svg#bpg_algetiregular') format('svg'); /* Legacy iOS */
}